<div class="container">

	<h2>instantgramme</h2>

	<h3>Following</h3>

	<% unless @followed.empty? %>
	

			<% @followed.each do |relationship| %>
				<p>
					<% u = User.find relationship.followed_id %>

					<%= u.name %>
					<%= link_to "Unfollow User", unfollow_path(u.id) %>
				</p>
			<% end %>

	<% end %>

</div>