<div class="container">

	<h2>instantgramme</h2>

</div>

<div class="containerleft">

	<h4>Following:</h4>

	<% unless @followed.empty? %>
		<ul>

			<% @followed.each do |relationship| %>
				<li>
					<% u = User.find relationship.followed_id %>
					<%= u.name %>
					<%= link_to "Unfollow User", unfollow_path(u.id) %>
				</li>
			<% end %>
		</ul>
	<% end %>

</div>