<div class="container">

<h2>users</h2>

<ul>
<% @users.each do |user| %>

	<%= link_to( user.username, user_path(user.id)) %>
	<li><%= user.name %></li>
	<li><%= user.email %></li>
<% end %>
</ul>

</div>